<html ng-app="app">
    <head>

    </head>
    <body ng-controller="HomeController">
        <div ng-show="state.screen == screens.selectCountry">
            <h1>Where are you located?</h1>
            <h3>This way others can know Christians around the world are praying for them</h3>
    
            <select 
                ng-model="state.selectedCountry"
                ng-options="country for country in countries">
            </select>
            
            <br>
            <button ng-click="selectCountry()">
                I am located in {{ state.selectedCountry }}
            </button>
    
            <br>
            <button ng-click="noCountry()">
                No, Thank You. I don't want to say where I'm at.
            </button>
        </div>

        <div ng-show="state.screen == screens.pray">
            Pray

            <br>
            <button ng-click="ask()">
                Ask for prayer
            </button>
        </div>

        <div ng-show="state.screen == screens.ask">
            Who would you like to pray for?

            <br>
            <select 
                ng-model="state.prayerRequest.name"
                ng-change="stateChanged()"
                ng-options="letter for letter in letters">
            </select>

            <br>
            What would you like prayer for?

            <br>
            <select 
                ng-model="state.prayerRequest.petition"
                ng-change="stateChanged()"
                ng-options="petition for petition in petitions">
            </select>

            <br>
            <button ng-click="askSubmit()">
                Ask for prayer
            </button>
        </div>

        State: {{state}}

        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-database.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

        <script src="bundle.js"></script>
        <script src="app.js"></script>
    </body>
</html>