<html ng-app="app">

<head>
    <meta content="text/html;charset=utf-8"
        http-equiv="Content-Type">
    <meta content="utf-8"
        http-equiv="encoding">

    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
</head>

<body ng-controller="HomeController">
    <div ng-show="state.screen == screens.selectCountry">
        <h1 id="SelectCountryHeader1">Where are you located?</h1>
        <h3 id="SelectCountryHeader2">This way others can know Christians around the world are praying for them</h3>

        <select class="custom-select"
            ng-model="state.selectedCountry"
            ng-options="country for country in countries">
        </select>

        <br>
        <button id="LocatedInUS"
            type="button"
            class="btn btn-primary"
            ng-click="selectCountry()">
            I am located in {{ state.selectedCountry }}
        </button>

        <br>
        <button id="LocatedOther"
            type="button"
            class="btn btn-primary"
            ng-click="noCountry()">
            No, Thank You. I don't want to say where I'm at.
        </button>
    </div>

    <div ng-show="state.screen == screens.pray">
        Heavenly Father,
        please give {{ letters[state.prayer.letter] }}
        {{ petitions[state.prayer.petition] }}.

        <br>
        <button id="InJesusName"
            type="button"
            class="btn btn-primary"
            ng-click=pray()>In Jesus Name!</button>
        <br>
        <button id="AskForPrayer"
            type="button"
            class="btn btn-primary"
            ng-click="ask()">
            Ask for prayer
        </button>
    </div>

    <div ng-show="state.screen == screens.ask">
        Who would you like to pray for?

        <br>
        <select id="PrayerRequestName"
            class="custom-select"
            ng-model="state.prayerRequest.name"
            ng-change="stateChanged()"
            ng-options="letter for letter in letters">
        </select>

        <br>
        What would you like prayer for?

        <br>
        <select id="PrayerRequestPetition"
            class="custom-select"
            ng-model="state.prayerRequest.petition"
            ng-change="stateChanged()"
            ng-options="petition for petition in petitions">
        </select>

        <br>
        <button id="SubmitRequest"
        type="button"
            class="btn btn-primary"
            ng-click="requestPrayer()">
            Submit Request!
        </button>
    </div>

    <div>
        State: {{ state }}
    </div>
    <div>
        Letters: {{ letters }}
    </div>
    <div>
        Test: {{ prayer.letter }}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <script src="bundle.js"></script>
    <script src="app.js"></script>
</body>

</html>